<section class="features-block <%- additionalClasses %>">
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <h2 class="title"><%- title %></h2>
                <% if (description) { %>
                    <p><%- description %></p>
                <% } %>
            </div>
        </div>
        <div class="row">
            <% features.forEach((feature) => { %>
                <div class="col-sm">
                    <% if (feature.image) { %>
                        <div class="image">
                            <img src="<%- feature.image.src%>" alt="<%- feature.image.alt%>">
                        </div>
                    <% } %>
                    <h4><%- feature.heading %></h4>
                    <% if (feature.description) { %>
                        <p><%- feature.description %></p>
                    <% } %>
                    <% if (feature.subFeatures) { %>
                        <ul class="sub-features">
                            <% feature.subFeatures.forEach( subFeature => { %>
                                <li><%- subFeature %></li>
                            <% }); %>
                        </ul>
                    <% } %>
                </div>
            <% }); %>
        </div>
    </div>
</section>