<div class="navigation-bar-top">
    <div class="navigation-container container">
        <a class="navigation-logo" href="<%- buildTime.siteURL %>"><%- site.companyName %></a>
        <nav class="navigation">
            <% collections.pages.forEach(function (navPage) { %>
                <% if(!navPage.data.hideInNav) { %>
                <a class="navigation-item<%- ` ${page.url === navPage.url && 'active'}` %>"
                   href="<%- navPage.url %>">
                    <%= navPage.data.title %>
                </a>
                <% } %>
            <% });%>
                <div class="btn-group">
                    <button type="button" class="btn btn-outline-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Servicios
                    </button>
                    <div class="dropdown-menu">
                        <% collections.servicios.forEach( servicio => { %>
                            <a class="dropdown-item" href="<%- servicio.url %>"><%- servicio.data.title %></a>
                        <% }); %>
                    </div>
                </div>
                <button type="button" class="btn btn-outline-info" data-toggle="modal" data-target="#contact-modal">
                    Contacto
                </button>
        </nav>
    </div>
</div>