---
layout: base.ejs
---

<%- include('/hero', {
mainText: 'SOLECAP',
secondaryText: [
'Somos una empresa de prestación de servicios enfocada en cada uno de los elementos de mantenimiento ya sea en oficinas corporativas o edificios industriales alrededor de la cadena de suministro.',
],
ctaButtonText: 'Contactanos',
additionalClasses: 'index-hero-bg'
})
%>

<%- include('/cta', {
mainText: 'Nuestra posicion ante la pandemia',
secondaryText: [
'En Solecap sabemos la importancia de proteger a nuestros clientes aliados por eso ante la situación creada por la emergencia sanitaria hemos reforzado nuestros protocolos de seguridad para cuidar de tí y los tuyos.'
],
ctaButtonText: 'Leer mas',
additionalClasses: 'city-bg',
noButton: false
})
%>

<%- include('/cta', {
mainText: 'Integrated Facilities Management',
secondaryText: [
'Nuestro objetivo es brindar servicios de mantenimiento con estándares adecuados para evitar fallos y problemas que puedan afectar a la cadena de producción,enfocándonos en ofrecer la mejor calidad y servicio en el área de "Facility Services".'
],
noButton: true,
ctaButtonText: '',
additionalClasses: 'indigo-bg'
})
%>

<%- include('/servicios') %>

<%- include('/cta', {
mainText: 'Sanitizacion de espacios',
secondaryText: [
'Estemos en situación de emergencia sanitaria o no, la sanitización de espacios debe ser una prioridad de todas las empresas para evitar problemas de salud en colaboradores y clientes.'
],
ctaButtonText: 'Leer mas',
additionalClasses: 'dark-blue-bg',
noButton: false
})
%>

<%- include('/side-image', {
heading: 'Ventaja Competitiva',
image: { src: '/images/ventajas.jpg', alt: 'mostrar nu marketplace en la pantalla de la laptop' },
features: [
{ title: 'Servicios a la medida.', description: 'Ofrecemos a nuestro cliente un producto hecho a la medida de sus necesidades que va desde lo más específico hasta un servicio integral. Nos enfocamos en ofrecer resultados desde el primer momento a precios accesibles y competitivos sin descuidar la calidad.' },
{ title: 'Empresa 100% mexicana.', description: 'Somos una empresa 100% mexicana que conoce la cultura e idiosincrasia del trabajo requerido por cada cliente.' },
],
additionalClasses: 'indigo-bg image-left'
})
%>

<%- include('/cards', {
mainText: 'Historias de Exito',
secondaryText: '',
cards: [
{ imgAlt: '', imgSrc: '/images/paint.jpg', title: 'Empresa de Pinturas y manejo de Solventes.', description: ''},
{ imgAlt: '', imgSrc: '/images/office.jpg', title: 'Desarrollo en corporativo y adecuación.', description: ''},
{ imgAlt: '', imgSrc: '/images/engine.jpg', title: 'Fabricante de Autos.', description: ''},
],
noButton: true,
ctaButtonText: 'Cotizar ahora',
additionalClasses: 'grey-bg'
})
%>

<%- include('/grid', {
mainText: 'Certificaciones',
elements: [
{ htmlContent: '<h3>ISO 9001:2015</h3><p></p>'},
{ htmlContent: '<h3>Empresa Socialmente Responsable</h3><p></p>'},
],
additionalClasses: '-bg'
})
%>

<%- include('/cta', {
mainText: 'Solecap, expertos en facility services',
secondaryText: [
'Somos unica empresa 100%  dentro del sector enfocada en brindar servicios de facilities management. Conocemos cuales son las necesidades del mercado y como atacarlas, más de xx años nos avalan.'
],
ctaButtonText: 'Contactanos!',
additionalClasses: 'city-bg',
noButton: false
})
%>