---
title: 'Empresa'
permalink: 'empresa/index.html'
---
<%- include('/hero', {
mainText: 'NOSOTROS',
secondaryText: [
'Somos un grupo formado por empresas 100% mexicanas, conformadas por equipos de profesionales especializados en la prestación de servicios integrales, el desarrollo de proyectos y la gestión integral de activos.'
],
ctaButtonText: 'Contactanos',
additionalClasses: 'empresa-bg'
})
%>

<%- include('/side-image', {
heading: '',
image: { src: '/images/team.jpg', alt: 'mostrar nu marketplace en la pantalla de la laptop' },
features: [
{ title: '¿Quienes somos?', description: 'Somos un grupo formado por empresas 100% mexicanas, conformadas por equipos de profecionales especializados en la prestación de servicios integrales, el desarrollo de proyectos y la gestión integral de activos.' },
{ title: '¿Que ofrecemos?', description: 'Nuestro compromiso es encontrar y desarrollar nuevos productos, así como entregar soluciones ágiles e integrales "lave en mano" hechas a la medida de las necesidades de nuestros clientes. Nos hemos aliado con empresas de manufactura y servicios, líderes en su ramo, garantizando entregar la mejor calidad en nuestros productos.' },
{ title: '', description: '' },
],
additionalClasses: 'indigo-bg image-left'
})
%>

<%- include('/grid', {
mainText: '',
elements: [
{ htmlContent: '<h3>Misión</h3><p>Agregar valor a nuestros clientes, satisfaciendo las necesidades de su negocio a través de nuestros productos, así como de la elaboración de productos innovadores y de alta calidad.</p>'},
{ htmlContent: '<h3>Visión</h3><p>Ser la empresa líder en el ramo de facilities management y gestión de activos, convertirnos en la compañia referencia en soluciones de espacios integrados de proyectos, de manera sustentable y generando valor para nuestros clientes y para todo México.</p>'},
],
additionalClasses: 'grey-bg'
})
%>

<%- include('/mapa') %>

<%- include('/banner', {
mainText: 'Sanitizacion de espacios',
secondaryText: [
'Estemos en situación de emergencia sanitaria o no, la sanitización de espacios debe ser una prioridad de todas las empresas para evitar problemas de salud en colaboradores y clientes.'
],
ctaButtonText: 'Leer mas',
additionalClasses: 'dark-blue-bg',
href: '/blog/pandemia'
})
%>

<%- include('/servicios') %>

<%- include('/cta', {
mainText: 'Solecap,expertos en facility services',
secondaryText: [
'Somos unica empresa 100%  dentro del sector enfocada en brindar servicios de facilities management. Conocemos cuales son las necesidades del mercado y como atacarlas, más de xx años nos avalan.'
],
ctaButtonText: 'Contactanos!',
additionalClasses: 'city-bg',
noButton: false,
href: ''
})
%>