---
title: 'Servicios Ambientales'
permalink: 'servicios/ambientales/index.html'
description: ''
href: '/servicios/ambientales'
imgAlt: ''
imgSrc: '/images/recycle.jpg'
---
<%- include('/hero', {
mainText: 'Servicios Ambientales',
secondaryText: [
'La administración de los residuos ya sea orgánicos, inorgánicos o de manejo especial son una preocupación constante dentro de corporativos o plantas de producción por lo que ofrecemos un servicio que nos permite dar  el tratamiento adecuado conforme a cada elemento que se considere deshecho, alineado a los aspectos ambientales que se requieran, e incluso aprovechando su venta para beneficio de todos como interesados en la cadena de custodia (reciclaje y administración de residuos) y manejo de estos elementos.'
],
ctaButtonText: 'Contactanos',
additionalClasses: 'cool-bg'
})
%>

<%- include('/grid', {
mainText: 'Beneficios',
elements: [
{ htmlContent: '<h3>Beneficio</h3><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>'},
{ htmlContent: '<h3>Beneficio</h3><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>'},
{ htmlContent: '<h3>Beneficio</h3><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>'},
],
additionalClasses: 'grey-bg'
})
%>

<%- include('/cta', {
mainText: 'CTA',
secondaryText: [
'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. '
],
ctaButtonText: 'Contactanos!',
additionalClasses: 'city-bg',
noButton: false
})
%>

<%- include('/servicios') %>

<%- include('/cta', {
mainText: 'Sanitizacion de espacios',
secondaryText: [
'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. '
],
ctaButtonText: 'Leer mas',
additionalClasses: 'dark-blue-bg',
noButton: false
})
%>