---
title: 'Servicios Ambientales'
permalink: 'servicios/ambientales/index.html'
description: 'Environmental Management'
href: '/servicios/ambientales'
imgAlt: ''
imgSrc: '/images/recycle.jpg'
---
<%- include('/hero', {
mainText: 'Servicios Ambientales',
secondaryText: [
'La administración de los residuos ya sea orgánicos, inorgánicos o de manejo especial son una preocupación constante dentro de corporativos o plantas de producción por lo que ofrecemos un servicio que nos permite dar  el tratamiento adecuado conforme a cada elemento que se considere deshecho, alineado a los aspectos ambientales que se requieran, e incluso aprovechando su venta para beneficio de todos como interesados en la cadena de custodia (reciclaje y administración de residuos) y manejo de estos elementos.'
],
ctaButtonText: 'Contactanos',
additionalClasses: 'serv-ambien-bg'
})
%>

<%- include('/grid', {
mainText: 'Beneficios',
elements: [
{ htmlContent: '<h3>Beneficio</h3><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>'},
{ htmlContent: '<h3>Beneficio</h3><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>'},
{ htmlContent: '<h3>Beneficio</h3><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>'},
],
additionalClasses: 'grey-bg'
})
%>

<%- include('/cta', {
mainText: 'Solecap, expertos en facility services',
secondaryText: [
'Somos unica empresa 100%  dentro del sector enfocada en brindar servicios de facilities management. Conocemos cuales son las necesidades del mercado y como atacarlas, más de xx años nos avalan.'
],
ctaButtonText: 'Contactanos!',
additionalClasses: 'city-bg',
noButton: false
})
%>

<%- include('/servicios') %>

<%- include('/cta', {
mainText: 'Sanitizacion de espacios',
secondaryText: [
'En Solecap sabemos la importancia de proteger a nuestros clientes aliados por eso ante la situación creada por la emergencia sanitaria hemos reforzado nuestros protocolos de seguridad para cuidar de tí y los tuyos.'
],
ctaButtonText: 'Leer mas',
additionalClasses: 'dark-blue-bg',
noButton: false
})
%>