---
title: 'Cyber Security'
permalink: 'servicios/cybersecurity/index.html'
description: 'Desarrollo, Arquitectura y soporte de soluciones de Ciberseguridad para no poner en riesgo la información de tu corporación.'
href: '/servicios/cybersecurity'
imgAlt: 'Cuarto de servidores.'
imgSrc: '/images/cybersecurity.jpeg'
order: 6
---

<%- include('/hero', {
mainText: 'Cyber Security',
secondaryText: [
'Desarrollo, Arquitectura y soporte de soluciones de Ciberseguridad. Perimeter & End Point Security, IAM & SOC Services, Platform protection',
''
],
ctaButtonText: 'Contáctanos',
additionalClasses: 'serv-security-bg'
})
%>

<%- include('/side-image', {
heading: 'Soluciones multi-capa de seguridad',
image: { src: '/images/iam.jpeg', alt: 'Las conexiones LAN y su modem.' },
features: [
{ title: '', description: 'Contamos con una gran oferta de servicios de ciberseguridad. Nuestros servicios van desde seguridad perimetral, seguridad en endpoints, gestión de acceso de identidad, SOC y protección de plataformas.' },
{ title: '', description: 'Tenemos todo lo necesario para que tu corporación cuente con todo lo necesario en seguridad informática.' },
],
additionalClasses: 'light-blue-bg',
imgClasses: ""
})
%>

<%- include('/grid', {
mainText: '',
elements: [
{ htmlContent: '<h3>Perimeter Security</h3><p>Desarrollo y diseño en soluciones de protección perimetral.</p>'},
{ htmlContent: '<h3>End Point Security</h3><p>Soluciones para proteger ordenadores y dispositivos de los usuarios finales.</p>'},
{ htmlContent: '<h3>IAM Services</h3><p>Servicio web que le ayuda a controlar de forma segura el acceso a los recursos de AWS.</p>'},
{ htmlContent: '<h3>SOC Services</h3><p>Servicios que permiten la supervisión y administración de la seguridad informática.</p>'},
{ htmlContent: '<h3>Platform Protection</h3><p>Servicios que permiten proteger dispositivos, encontrar vulnerabilidades, protección preventiva, etc.</p>'},
],
additionalClasses: 'grey-bg'
})
%>

<%- include('/side-image', {
heading: 'Perimeter Security',
image: { src: '/images/perimeter.jpeg', alt: 'Las conexiones LAN y su modem.' },
features: [
{ title: '', description: 'Desarrollo y diseño en soluciones de protección perimetral Firewall NextGen, VPN, IPS, Web  Filtering.' },
{ title: '', description: 'Mantenimiento y consultoría en Arquitectura de seguridad cibernética alineadas con ISO 27001 y PCI DSS.' },
{ title: '', description: 'Implementacion en Cisco,Palo Alto, Checkpoint, Sophos, etc.' },
{ title: '', description: 'Managed Detection and Response (SOC Services)' },
],
additionalClasses: 'sky-blue-bg image-right',
imgClasses: ""
})
%>

<%- include('/side-image', {
heading: 'End Point Security',
image: { src: '/images/endpoint.jpeg', alt: 'Las conexiones LAN y su modem.' },
features: [
{ title: '', description: 'Soluciones para proteger ordernadores y dispositivos de los usuarios finales, (Antimalware, Endpoint detection, EDR)' },
{ title: '', description: 'Secuencia y mantenimiento de soluciones de protección de Endpoint de malware, ransomware, etc.' },
{ title: '', description: 'Implementación y mantenimiento sobre infraestructuras Cisco, Palo Alto, McAffee etc. ' },
{ title: '', description: 'Operación de soluciones para respuestas de Incidentes. SNOW / EDR. ' },
],
additionalClasses: 'dark-blue-bg',
imgClasses: ""
})
%>

<%- include('/side-image', {
heading: 'Identity Access Management Services (IAM)',
image: { src: '/images/network.jpeg', alt: 'Las conexiones LAN y su modem.' },
features: [
{ title: '', description: 'Un servicio web que le ayuda a controlar de forma segura el acceso a los recursos de AWS. Utilice IAM para controlar quién está autenticado (ha iniciado sesión) y autorizado (tiene permisos) para utilizar recursos.' },
],
additionalClasses: 'sky-blue-bg image-right',
imgClasses: ""
})
%>

<%- include('/side-image', {
heading: 'SOC Services',
image: { src: '/images/soc.jpeg', alt: 'Las conexiones LAN y su modem.' },
features: [
{ title: '', description: 'Notificación del estado de los eventos e incidentes de seguridad. Proporcionar administración de información y eventos de seguridad (SEIM).' },
{ title: '', description: 'Seguimiento todas las políticas y procedimientos de respuesta a incidentes de seguridad de la información. ' },
{ title: '', description: 'Identificar y recomendar la respuesta a incidentes de seguridad de la información.' },
{ title: '', description: 'Reporteo del estado al CLIENTE de acuerdo con la frecuencia definida por la Política y Procedimientos de Gestión de Incidentes. ' },
{ title: '', description: 'Evaluación y análisis de emails de phishing reportados y tome la remediación y contención apropiadas basadas en el proceso del cliente y los estándares de la industria.' },
],
additionalClasses: 'dark-blue-bg',
imgClasses: ""
})
%>

<%- include('/side-image', {
heading: 'Platform Protection',
image: { src: '/images/platform.jpeg', alt: 'Las conexiones LAN y su modem.' },
features: [
{ title: '', description: 'Realizar análisis de vulnerabilidades para dispositivos administrados en función de la frecuencia determinada por políticas/procedimientos y/o amenazas emergentes.' },
{ title: '', description: 'Gestión de sistemas y servicios de detección y protección de intrusiones basados en la red y en el host.' },
{ title: '', description: 'Implementación el programa de protección contra virus / malware para admitir entornos de SI.' },
{ title: '', description: 'Implementación de políticas y procedimientos para las operaciones de seguridad, incluida la administración de cambios, el control de excepciones y la generación de informes. Esto incluye, entre otros: tecnología/sistemas de seguridad, incluidos PKI, IDS, AV, escáneres de vulnerabilidades, administración de registros, caja fuerte de contraseñas, puertas de enlace antispam.' },
],
additionalClasses: 'sky-blue-bg image-right',
imgClasses: ""
})
%>

<%- include('/features', {
title: 'Herramientas y Ambientes',
description: '',
features: [
{
heading: 'SOC Services',
subFeatures: ['• Splunk w/Enterprise Security Module', '• For feeds –  Splunk HLD Diagram ', '• Simplify Integration', '• ServiceNow – Security Incident Response ', '• ServiceNow – Threat Intelligence']
},{
heading: 'Platform Protection',
subFeatures: ['• McAfee Anti-virus en servidores y estaciones de trabajo; McAfee Datacenter Security Suite en bases de datos', '• Tenable', '• Administración de Bitlocker','• Symantec Endpoint Encryption ', '• Servicio de gestión de vulnerabilidades']
}
],
additionalClasses: '',
colClass: 'col-md-4 col-sm-6 my-3'
})
%>

<%- include('/cta', {
mainText: 'Solecap, tu aliado en ciberseguridad',
secondaryText: [
'No queremos que tu información más valiosa esté en riesgo por eso te ofrecemos nuestro expertise en ciberseguridad. '
],
ctaButtonText: 'Contáctanos!',
additionalClasses: 'maroon-bg',
noButton: false,
href: ''
})
%>

<%- include('/servicios') %>

<%- include('/banner', {
mainText: 'Sanitización de espacios',
secondaryText: [
'Estemos en situación de emergencia sanitaria o no, la sanitización de espacios debe ser una prioridad de todas las empresas para evitar problemas de salud en colaboradores y clientes. '
],
ctaButtonText: 'Leer más',
additionalClasses: 'solecap-purple-bg',
href:'/blog/pandemia'
})
%>
