---
title: 'Servicio de Soporte a Instalaciones'
permalink: 'servicios/instalaciones/index.html'
description: 'Pasamos mucho tiempo en nuestro espacio de trabajo  y debes sentirte como en casa. En Solecap te ayudamos a lograrlo'
href: '/servicios/instalaciones'
imgAlt: 'Dos máquinas de aire acondicionado.'
imgSrc: '/images/soporte.webp'
order: 1
---
<%- include('/hero', {
mainText: 'Servicio de Soporte a Instalaciones ',
secondaryText: [
'Enfocados en general el mejor ambiente  laboral en tu empresa.',
    ''
],
ctaButtonText: 'Contáctanos',
additionalClasses: 'serv-instala-bg'
})
%>

<%- include('/side-image', {
heading: 'Creamos el ambiente adecuado',
image: { src: '/images/lounge.webp', alt: 'La sala común de una empresa con dos mujeres descansando.' },
features: [
{ title: '', description: 'Este servicio está conformado por aquellas actividades que son fundamentales en la operación de un edificio corporativo u oficinas administrativas dentro de una planta Productiva, es decir; elementos catalogados como “Soft” que no afectan a la cadena de producción, pero generan un ambiente adecuado en las funciones administrativas.' },
{ title: '', description: 'Algunos servicios dentro de esta categoría son: Limpieza, jardinería, aire acondicionado (HVAC) o servicios de recepción, cafetería, Ups (servicios de respaldo de energía) sistema contra incendio de los edificios, entre otros. ' },
],
additionalClasses: 'solecap-purple-bg',
imgClasses: ""
})
%>

<%- include('/grid', {
mainText: '',
elements: [
{ htmlContent: '<h3>Productividad</h3><p>Tener unas instalaciones en estado óptimo te ayuda a generar un ambiente de trabajo positivo y la productividad de tus empleados puede verse incrementada.</p>'},
{ htmlContent: '<h3>Presentación</h3><p>Contar con unos jardines e instalaciones bien cuidadas, es la mejor carta de presentación que puedes tener cuando recibas visitas importantes en tu oficina.</p>'},
{ htmlContent: '<h3>Seguridad</h3><p>Haces sentir cuidados y protegidos a colaboradores y clientes en caso de una emergencia como sismos o incendios.</p>'},
],
additionalClasses: 'grey-bg'
})
%>

<%- include('/cta', {
mainText: 'Solecap, expertos en facility services',
secondaryText: [
'¿Quieres generar un ambiente laboral sano? Nosotros te decimos cómo lograrlo.'
],
ctaButtonText: 'Contáctanos!',
additionalClasses: 'solecap-green-bg',
noButton: false,
    href: ''
})
%>

<%- include('/servicios') %>

<%- include('/banner', {
mainText: 'Sanitización de espacios',
secondaryText: [
'Estemos en situación de emergencia sanitaria o no, la sanitización de espacios debe ser una prioridad de todas las empresas para evitar problemas de salud en colaboradores y clientes.'
],
ctaButtonText: 'Leer más',
additionalClasses: 'solecap-purple-bg',
    href: '/blog/pandemia'
})
%>