---
title: 'Servicio de Soporte a Instalaciones'
permalink: 'servicios/instalaciones/index.html'
description: 'Este servicio está conformado por aquellas actividades que son fundamentales en la operación de un edificio corporativo u oficinas administrativas dentro de una planta Productiva'
href: '/servicios/instalaciones'
---
<%- include('/hero', {
mainText: 'Servicio de Soporte a Instalaciones ',
secondaryText: [
'Este servicio está conformado por aquellas actividades que son fundamentales en la operación de un edificio corporativo u oficinas administrativas dentro de una planta Productiva, es decir; elementos catalogados como “Soft” que no afectan a la cadena de producción pero generan un ambiente adecuado en las funciones administrativas.',
    'Algunos servicios dentro de esta categoría son: Limpieza, jardinería, aire acondicionado (HVAC) o servicios de recepción, cafetería, Ups (servicios de respaldo de energía) sistema contra incendio de los edificios, entre otros.'
],
ctaButtonText: 'Contactanos',
additionalClasses: 'cool-bg'
})
%>

<%- include('/grid', {
mainText: 'Beneficios',
elements: [
{ htmlContent: '<h3>Beneficio</h3><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>'},
{ htmlContent: '<h3>Beneficio</h3><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>'},
{ htmlContent: '<h3>Beneficio</h3><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>'},
],
additionalClasses: 'grey-bg'
})
%>

<%- include('/cta', {
mainText: 'CTA',
secondaryText: [
'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. '
],
ctaButtonText: 'Contactanos!',
additionalClasses: 'city-bg',
noButton: false
})
%>

<%- include('/servicios') %>

<%- include('/cta', {
mainText: 'Sanitizacion de espacios',
secondaryText: [
'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. '
],
ctaButtonText: 'Leer mas',
additionalClasses: 'dark-blue-bg',
noButton: false
})
%>