---
title: 'Administración de las Propiedades'
permalink: 'servicios/propiedades/index.html'
description: ''
href: '/servicios/propiedades'
imgAlt: ''
imgSrc: '/images/remodel.jpg'
---
<%- include('/hero', {
mainText: 'Administración de las propiedades',
secondaryText: [
'Tienen que ver con los inmuebles de la empresa ya sea en renta o en propiedad. Desde su planeación y diseño, pasando por la selección del mejor lugar para beneficiar a la empresa hasta la construcción y armado de las oficinas con todas las necesidades cubiertas (voz y datos, muebles y acabados requeridos) , terminando con mantener los espacios de trabajo  en un estado óptimo ayudando a tener un mejor ambiente de trabajo.',
    'Algunos de los servicios que se prestan aquí son: Remodelación y administración de espacios, relación positiva con el arrendador , revisión de instalaciones; entre otras.'
],
ctaButtonText: 'Contactanos',
additionalClasses: 'cool-bg'
})
%>

<%- include('/grid', {
mainText: 'Beneficios',
elements: [
{ htmlContent: '<h3>Beneficio</h3><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>'},
{ htmlContent: '<h3>Beneficio</h3><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>'},
{ htmlContent: '<h3>Beneficio</h3><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>'},
],
additionalClasses: 'grey-bg'
})
%>

<%- include('/cta', {
mainText: 'CTA',
secondaryText: [
'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. '
],
ctaButtonText: 'Contactanos!',
additionalClasses: 'city-bg',
noButton: false
})
%>

<%- include('/servicios') %>

<%- include('/cta', {
mainText: 'Sanitizacion de espacios',
secondaryText: [
'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. '
],
ctaButtonText: 'Leer mas',
additionalClasses: 'dark-blue-bg',
noButton: false
})
%>