---
title: 'Administración de las Propiedades'
permalink: 'servicios/propiedades/index.html'
description: 'Property Management'
href: '/servicios/propiedades'
imgAlt: ''
imgSrc: '/images/remodel.jpg'
---
<%- include('/hero', {
mainText: 'Administración de las propiedades',
secondaryText: [
'Nos encargamos de que tu espacio de trabajo cuente con todo lo necesario para un desempeño óptimo desde el primer día',
    ''
],
ctaButtonText: 'Contactanos',
additionalClasses: 'serv-propie-bg'
})
%>

<%- include('/side-image', {
heading: '',
image: { src: '/images/building.jpg', alt: 'mostrar nu marketplace en la pantalla de la laptop' },
features: [
{ title: '', description: 'Tienen que ver con los inmuebles de la empresa ya sea en renta o en propiedad. Desde su planeación y diseño, pasando por la selección del mejor lugar para beneficiar a la empresa hasta la construcción y armado de las oficinas con todas las necesidades cubiertas (voz y datos, muebles y acabados requeridos) , terminando con mantener los espacios de trabajo  en un estado óptimo ayudando a tener un mejor ambiente de trabajo.' },
{ title: '', description: 'Algunos de los servicios que se prestan aquí son: Remodelación y administración de espacios, relación positiva con el arrendador , revisión de instalaciones; entre otras.' },
],
additionalClasses: 'indigo-bg image-left'
})
%>

<%- include('/grid', {
mainText: 'Beneficios',
elements: [
{ htmlContent: '<h3>Beneficio</h3><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>'},
{ htmlContent: '<h3>Beneficio</h3><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>'},
{ htmlContent: '<h3>Beneficio</h3><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>'},
],
additionalClasses: 'grey-bg'
})
%>

<%- include('/cta', {
mainText: 'Solecap,expertos en facility services',
secondaryText: [
'Pasamos mucho tiempo en nuestro espacio de trabajo  y debes sentirte como en casa. En Solecap te ayudamos a lograrlo '
],
ctaButtonText: 'Contactanos!',
additionalClasses: 'city-bg',
noButton: false
})
%>

<%- include('/servicios') %>

<%- include('/cta', {
mainText: 'Sanitizacion de espacios',
secondaryText: [
'Estemos en situación de emergencia sanitaria o no, la sanitización de espacios debe ser una prioridad de todas las empresas para evitar problemas de salud en colaboradores y clientes. '
],
ctaButtonText: 'Leer mas',
additionalClasses: 'dark-blue-bg',
noButton: false
})
%>