---
title: 'Telecomunicaciones y Tecnologías de la Información'
permalink: 'servicios/telecomti/index.html'
description: ''
href: '/servicios/telecomti'
imgAlt: ''
imgSrc: '/images/cabling.jpg'
---
<%- include('/hero', {
mainText: 'Telecomunicaciones y tecnologías de la información',
secondaryText: [
'Estos servicios están relacionados con elementos de base de datos en su estructura, que van desde cableado para elementos de voz y datos. Contamos con una gran  oferta de equipos de computo, desarrollo de proyectos de esta categoría en nuevas instalaciones o actualización de los elementos que puedan requerir una.',
    'En resumen,aquí podemos encontrar servicios relacionados con el software de las máquinas de trabajo y el cableado de los edificios.'
],
ctaButtonText: 'Contactanos',
additionalClasses: 'cool-bg'
})
%>

<%- include('/grid', {
mainText: 'Beneficios',
elements: [
{ htmlContent: '<h3>Beneficio</h3><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>'},
{ htmlContent: '<h3>Beneficio</h3><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>'},
{ htmlContent: '<h3>Beneficio</h3><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>'},
],
additionalClasses: 'grey-bg'
})
%>

<%- include('/cta', {
mainText: 'CTA',
secondaryText: [
'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. '
],
ctaButtonText: 'Contactanos!',
additionalClasses: 'city-bg',
noButton: false
})
%>

<%- include('/servicios') %>

<%- include('/cta', {
mainText: 'Sanitizacion de espacios',
secondaryText: [
'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. '
],
ctaButtonText: 'Leer mas',
additionalClasses: 'dark-blue-bg',
noButton: false
})
%>