---
title: 'Telecomunicaciones y Tecnologías de la Información'
permalink: 'servicios/telecomti/index.html'
description: ''
href: '/servicios/telecomti'
imgAlt: ''
imgSrc: '/images/cabling.jpg'
---
<%- include('/hero', {
mainText: 'Telecomunicaciones y tecnologías de la información',
secondaryText: [
'Cuidamos la base de datos y software de tu empresa cómo si fuera la nuestra',
''
],
ctaButtonText: 'Contactanos',
additionalClasses: 'serv-tecno-bg'
})
%>

<%- include('/side-image', {
heading: '',
image: { src: '/images/cables.jpg', alt: 'mostrar nu marketplace en la pantalla de la laptop' },
features: [
{ title: '', description: 'Estos servicios están relacionados con elementos de base de datos en su estructura, que van desde cableado para elementos de voz y datos. Contamos con una gran  oferta de equipos de computo, desarrollo de proyectos de esta categoría en nuevas instalaciones o actualización de los elementos que puedan requerir una.' },
{ title: '', description: 'En resumen,aquí podemos encontrar servicios relacionados con el software de las máquinas de trabajo y el cableado de los edificios.' },
],
additionalClasses: 'indigo-bg image-left'
})
%>

<%- include('/grid', {
mainText: 'Beneficios',
elements: [
{ htmlContent: '<h3>Beneficio</h3><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>'},
{ htmlContent: '<h3>Beneficio</h3><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>'},
{ htmlContent: '<h3>Beneficio</h3><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>'},
],
additionalClasses: 'grey-bg'
})
%>

<%- include('/cta', {
mainText: 'Solecap,expertos en facility services',
secondaryText: [
'No queremos que tu información más valiosa esté vulnerable por eso te ofrecemos nuestro expertise en tecnologías de la información. '
],
ctaButtonText: 'Contactanos!',
additionalClasses: 'city-bg',
noButton: false
})
%>

<%- include('/servicios') %>

<%- include('/cta', {
mainText: 'Sanitizacion de espacios',
secondaryText: [
'Estemos en situación de emergencia sanitaria o no, la sanitización de espacios debe ser una prioridad de todas las empresas para evitar problemas de salud en colaboradores y clientes. '
],
ctaButtonText: 'Leer mas',
additionalClasses: 'dark-blue-bg',
noButton: false
})
%>